---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import heroImage from "../../assets/hero.png";
---

<Section id="home">
<div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left">
            <h1 class="text-4xl font-medium leading-none md:text-6xl text-center md:text-left">Your happy customers are your best salespeople</h1>
            <p class="mt-8 mb-12 text-lg font-normal leading-7 text-center md:text-left md:pr-12">Selling SaaS is <em>really</em> hard. You're competing with huge multinationals, copycats, and vibe coded monstrosities. Case studies give you the advantage by proving your credibility and giving customers a reason to trust your software.</p>
            <div class="w-full justify-center md:justify-start items-center flex flex-col sm:flex-row gap-4">
                <a href="/contact" class="px-8 py-5 bg-pink hover:opacity-90 rounded-2xl text-center text-black text-xl font-normal leading-7">Book Discovery Call
                </a>
                <a href="https://scorecard.bestcasestud.io" target="_blank" rel="noopener noreferrer" class="px-8 py-5 bg-transparent hover:bg-white transition-colors rounded-2xl text-center text-white hover:text-black border border-white text-xl font-normal leading-7">Credibility Scorecard
                </a>
            </div>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <Image src={heroImage} alt="Best Case Studio hero" loading="eager" fetchpriority="high" class="w-full h-auto" />
    </div>
</div>
</Section>
