---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Three steps from customer interview to ready-to-publish content.";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Our Process"
      description={description}
    />
    <Accordion />
  </div>
</Section>