---
import { Image } from "astro:assets";
import s1 from "../../assets/company/1.svg";
import s3 from "../../assets/company/3.svg";
import s7 from "../../assets/company/7.svg";
import s8 from "../../assets/company/8.svg";
import s10 from "../../assets/company/10.svg";
import s11 from "../../assets/company/11.svg";
import s12 from "../../assets/company/12.svg";
import s13 from "../../assets/company/13.svg";
import s14 from "../../assets/company/14.svg";
import Section from "./Section.astro";

const sponsors = [
  { logo: s1, alt: "Vivaldi logo" },
  { logo: s3, alt: "MyCheckins logo" },
  { logo: s7, alt: "Rally logo" },
  { logo: s8, alt: "Engine Yard logo" },
  { logo: s10, alt: "TagTeam AI logo" },
  { logo: s11, alt: "Projul logo" },
  { logo: s12, alt: "Scoro logo" },
  { logo: s13, alt: "BabelForce logo" },
  { logo: s14, alt: "Bullet logo" },
];
---

<Section id="sponsors">
  <div class="flex flex-col items-center gap-6">
    <p class="text-xs uppercase tracking-widest text-zinc-500">Brands our founder has worked with</p>
    <div class="grid grid-cols-3 md:grid-cols-9 w-full">
      {
        sponsors.map((sponsor) => {
          return (
            <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
              <Image src={sponsor.logo} class="h-12 w-auto mx-auto" alt={sponsor.alt} loading="lazy" />
            </div>
          );
        })
      }
    </div>
  </div>
</Section>
