---
import Section from "./Section.astro";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="testimonials">
  <div class="mt-24 mb-0">
    <SectionTitle
      sectionTitle="Testimonials"
      description="Jon has been working with B2B SaaS companies for over 7 years. These are a few things clients have said along the way."
    />
    <script is:inline type="text/javascript" src="https://testimonial.to/js/iframeResizer.min.js"></script>
    <iframe
      id="testimonialto-a9a5cbcc-76b3-4896-99d9-f94ed6736bf2"
      src="https://embed-v2.testimonial.to/carousel/all/best-case-studio?id=a9a5cbcc-76b3-4896-99d9-f94ed6736bf2"
      frameborder="0"
      scrolling="no"
      width="100%"
      height="450"
      style="min-height: 450px; display: block;"
    ></iframe>
    <script is:inline type="text/javascript">iFrameResize({log: false, checkOrigin: false}, '#testimonialto-a9a5cbcc-76b3-4896-99d9-f94ed6736bf2');</script>
  </div>
</Section>
