---
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-20 mb-[150px]">
    <SectionTitle
      sectionTitle="What Our Clients Say"
      description="Real feedback from B2B SaaS companies who've worked with Best Case Studio."
    />
    <script is:inline type="text/javascript" src="https://testimonial.to/js/iframeResizer.min.js"></script>
    <iframe
      id="testimonialto-a9a5cbcc-76b3-4896-99d9-f94ed6736bf2"
      src="https://embed-v2.testimonial.to/carousel/all/best-case-studio?id=a9a5cbcc-76b3-4896-99d9-f94ed6736bf2"
      frameborder="0"
      scrolling="no"
      width="100%"
      height="450"
      style="min-height: 450px;"
    ></iframe>
    <script is:inline type="text/javascript">iFrameResize({log: false, checkOrigin: false}, '#testimonialto-a9a5cbcc-76b3-4896-99d9-f94ed6736bf2');</script>
  </div>
</Section>
