---
import Section from "./Section.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import TestimonialCard from "../ui/TestimonialCard.astro";
import clientsRaw from "../../data/clientData.json";

type Client = { name: string; role: string; comment: string; avatar: string };
const clients = clientsRaw as Client[];

const images = import.meta.glob<{ default: ImageMetadata }>(
  "../../assets/testimonials/*.{jpg,jpeg,png,webp}"
);
---

{clients.length > 0 && (
  <Section id="testimonials">
    <div class="mt-24 mb-0">
      <SectionTitle
        sectionTitle="Testimonials"
        description="Jon has been working with B2B SaaS companies for over 7 years. These are a few things clients have said along the way."
      />
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-12">
        {clients.map((client) => (
          <TestimonialCard
            name={client.name}
            role={client.role}
            comment={client.comment}
            avatar={images[`../../assets/testimonials/${client.avatar}`]}
          />
        ))}
      </div>
    </div>
  </Section>
)}
