---
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-20 mb-[150px]">
    <SectionTitle
      sectionTitle="What Our Clients Say"
      description="Real feedback from B2B SaaS companies who've worked with Best Case Studio."
    />
    <div
      id="testimonialto-a9a5cbcc-76b3-4896-99d9-f94ed6736bf2"
      aria-label="Testimonials Wall of Love"
    ></div>
    <script type="text/javascript" src="https://testimonial.to/js/iframeResizer.contentWindow.min.js"></script>
    <link rel="stylesheet" href="https://testimonial.to/css/iframeResizer.min.css" />
    <script src="https://testimonial.to/js/widget.js" type="text/javascript" defer></script>
  </div>
</Section>
